* {
	-ms-overflow-style: none;
}
body {
	margin: 0;
}
.material-icons {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	-webkit-font-smoothing: antialiased;

	text-rendering: optimizeLegibility;

	-moz-osx-font-smoothing: grayscale;

	font-feature-settings: 'liga';
}
a {
	text-decoration: none;
}
.logo {
	float: left;
	margin-top: 1.5em;
}
.featured {
	margin: 15vh auto auto auto;
	padding-bottom: 2em;
	border-bottom: 1px solid #d9d9d9;
}
.featured div {
	margin: 1em;
	float: right;
}
.featured h2 {
	font-family: 'wr-sans', sans-serif;
	float: left;
	font-size: 18px;
	font-weight: 600;
	color: black;
	text-align: left;
	padding-left: 0.5vw;
	margin-top: -0.1em;
}
.featured th {
	padding-right: 4vw;
}
.featured p {
	font-family: 'wr-sans', sans-serif;
	position: absolute;
	text-align: left;
	padding-left: 0.5vw;
	font-size: 15px;
	font-weight: 400;
	color: #757575;
	margin-top: 1.5em;
}
footer ul {
  position: relative;
  padding-top: 2em;
  text-align: center;
}
footer ul li {
  padding-right: 1em;
	display: inline;
	text-align: center;
	font-family: 'wr-sans', sans-serif;
	font-size: 16px;
	color: #757575;
}
.article h2 {
	font-size: 24px;
	font-weight: 600;
	font-family: 'wr-sans', sans-serif;
}
.article p {
	font-size: 16px;
	font-weight: 400;
	font-family: 'wr-sans', sans-serif;
}
.article img {
	margin-top: -8.75em;
	float: right;
}
@media screen and (min-width: 812px) {
	.featuredCol {
		display: none;
	}
	.article {
		padding-top: 1em;
		margin-left: 22vw;
		margin-right: 22vw;
  }
  .logo {
    margin-left: 22vw;
  }
}
@media screen and (max-width: 812px) {
  .logo {
    margin-left: 10px;
  }
  .header li {
    margin-left: -100px;
  }
	.featured {
		display: none;
	}
	.featuredCol {
		margin-top: 2em;
	}
	.article img {
		margin-right: 10px;
		width: 180px;
	}
	.article {
		padding-left: 10px;
		float: right;
	}
	.article h2 {
		font-size: 18px;
	}
	.article p {
		font-size: 15px;
		margin-right: 130px;
	}
	h5 {
		font-size: 36px;
	}
}
.header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 10;
}
.header ul {
	padding: 0;
	list-style: none;
	margin-right: 22vw;
	overflow: hidden;
}
.header__menu {
	clear: both;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}
.header li a {
	color: #757575;
	display: block;
	padding: 15px;
	margin-left: -25px;
	margin-top: -0.5em;
}
.header li a:hover {
	color: #292929;
}
.header li img {
	border-radius: 100%;
	margin-top: -5px;
}
@media (min-width: 48em) {
	.header li {
		float: left;
	}
	.header li a {
		padding: 20px 30px;
	}
	.header__menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header__menu-icon {
		display: none;
	}
}
